<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {},
        },
      };
    </script>
    <style>
      @layer base {
        h1,
        h5,
        li {
          font-family: "Poppins", sans-serif;
        }

        sub,
        p {
          font-family: "Raleway", sans-serif;
        }
      }
    </style>
    <title>Portofolio</title>
  </head>
  <header>
    <div class="flex justify-center gap-2.5 py-3.5 sm:justify-start sm:mx-5">
      <h1 class="text-[#EC1B09] text-2xl font-normal">My</h1>
      <h1 class="text-[#FF9C1A] text-2xl font-normal">Portofolio</h1>
    </div>
  </header>
  <body class="bg-slate-100 lg:mx-20">
    <div class="lg:flex">
      <!-- Profile Card -->
      <div
        class="bg-white rounded-2xl shadow-xl mx-5 flex-col justify-center text-center my-5 sm:mx-44 lg:mx-6"
      >
        <div class="flex justify-center">
          <img
            src="../assets/foto.jpg"
            alt="Profile Picture"
            class="w-48 h-48 rounded-2xl shadow mt-10"
          />
        </div>

        <h1 class="text-black text-2xl font-bold leading-9 py-2.5">
          Alvenio Farhan Prayogo
        </h1>
        <p class="text-black font-bold text-opacity-50 text-center py-2.5">
          FullStack Developer
        </p>

        <div class="flex justify-center gap-2.5 py-3.5">
          <a href="https://www.facebook.com/alveniofarhan">
            <img
              src="../assets/fb.svg"
              alt="Logo Facebook"
              class="w-16 h-16 px-6 py-5 bg-slate-100 hover:bg-slate-300 rounded-lg justify-center items-center gap-[8.27px] inline-flex"
            />
          </a>
          <a href="https://www.linkedin.com/in/alveniofarhanprayogo">
            <img
              src="../assets/linkedin.svg"
              alt="Logo linkedin"
              class="w-16 h-16 px-5 py-4 bg-slate-100 hover:bg-slate-300 rounded-lg justify-center items-center gap-[8.27px] inline-flex"
          /></a>
          <a href="https://instagram.com/alveniofarhan">
            <img
              src="../assets/ig.svg"
              alt="Logo twitter"
              class="w-16 h-16 px-5 py-5 bg-slate-100 hover:bg-slate-300 rounded-lg justify-center items-center gap-[8.27px] inline-flex"
          /></a>
          <a href="https://github.com/alveniofarhan">
            <img
              src="../assets/git.svg"
              alt="Logo git"
              class="w-16 h-16 px-5 py-4 bg-slate-100 hover:bg-slate-300 rounded-lg justify-center items-center gap-[8.27px] inline-flex"
          /></a>
        </div>

        <div class="py-2.5 sm:py-0 sm:flex sm:justify-center">
          <div
            class="bg-slate-100 rounded-2xl mt-6 mb-12 py-3.5 flex-row justify-center mx-6 sm:mx-2"
          >
            <div class="w-64 h-16 relative ml-9 mt-8 border-b">
              <div class="w-40 h-11 flex justify-start items-center gap-2.5">
                <img src="../assets/phone.svg" alt="Phone" class="w-6 h-6" />
                <div class="flex-row text-left">
                  <h5 class="text-black opacity-50">Phone</h5>
                  <p class="font-bold text-sm">0851-5606-6856</p>
                </div>
              </div>
            </div>

            <div class="w-64 h-16 relative ml-9 my-1.5 border-b">
              <div class="w-40 h-11 flex justify-start items-center gap-2.5">
                <img src="../assets/email.svg" alt="Email" class="w-6 h-6" />
                <div class="flex-row text-left">
                  <h5 class="text-black opacity-50">Email</h5>
                  <p class="font-bold text-sm">alveniofarhan@gmail.com</p>
                </div>
              </div>
            </div>

            <div class="w-64 h-16 relative ml-9 my-1.5 border-b">
              <div class="w-40 h-11 flex justify-start gap-2.5 items-center">
                <img
                  src="../assets/location.svg"
                  alt="Location"
                  class="w-6 h-6"
                />
                <div class="flex-row text-left">
                  <h5 class="text-black opacity-50">Location</h5>
                  <p class="font-bold text-sm whitespace-nowrap">
                    Semarang, Indonesia
                  </p>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <a
                href="https://drive.google.com/file/d/1B8W3ENYJjHAxRZQgoEysmz77WkrVNmOq/view?usp=drive_link"
                class="inline-flex justify-center gap-2.5 py-1.5 px-2 bg-[#FF9C1A] hover:bg-[#c77a15] rounded-full"
              >
                <img src="../assets/download.svg" alt="Download" class="" />
                <p class="text-white">Download Resume</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- end profile card -->

      <div class="lg:grid-cols-1">
        <!-- navigation -->
        <nav
          class="bg-slate-100 rounded-2xl shadow-xl mx-5 my-3.5 sm:max-w-md sm:mx-auto lg:mr-5"
        >
          <ol class="gap-8 flex justify-center p-2.5">
            <a
              href="landing_page.html"
              alt="Home"
              class="bg-slate-400 hover:bg-[#FF9C1A] rounded-2xl flex-col flex items-center p-2.5"
            >
              <img src="../assets/Home icon.svg" alt="Home" class="" />
              <li class="">Home</li>
            </a>

            <a
              href="resume_page.html"
              class="bg-slate-400 hover:bg-[#FF9C1A] rounded-2xl flex-col flex items-center p-2.5"
            >
              <img src="../assets/resume icon.svg" alt="Resume" class="" />
              <li>Resume</li>
            </a>

            <a
              href="contact_page.html"
              class="bg-[#FF9C1A] hover:bg-opacity-70 rounded-2xl flex-col flex items-center p-2.5"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="24"
                viewBox="0 0 25 24"
                fill="none"
              >
                <path
                  d="M21.5 2H6.5C5.96957 2 5.46086 2.21071 5.08579 2.58579C4.71071 2.96086 4.5 3.46957 4.5 4V7H2.5V9H4.5V11H2.5V13H4.5V15H2.5V17H4.5V20C4.5 20.5304 4.71071 21.0391 5.08579 21.4142C5.46086 21.7893 5.96957 22 6.5 22H21.5C21.7652 22 22.0196 21.8946 22.2071 21.7071C22.3946 21.5196 22.5 21.2652 22.5 21V3C22.5 2.73478 22.3946 2.48043 22.2071 2.29289C22.0196 2.10536 21.7652 2 21.5 2ZM13.5 4.999C15.148 4.999 16.5 6.35 16.5 7.999C16.4971 8.79385 16.1801 9.55533 15.6182 10.1175C15.0562 10.6796 14.2948 10.9968 13.5 11C11.853 11 10.5 9.647 10.5 7.999C10.5 6.35 11.853 4.999 13.5 4.999ZM19.5 18H7.5V17.25C7.5 15.031 10.205 12.75 13.5 12.75C16.795 12.75 19.5 15.031 19.5 17.25V18Z"
                  fill="#F2F7FC"
                />
              </svg>
              <li class="text-white">Contact</li>
            </a>
          </ol>
        </nav>
        <!-- end navigation -->

        <!-- Contact Card -->
        <div class="bg-white rounded-2xl shadow-md mx-5 px-3 py-3.5 ">
          <div class="flex items-center justify-center sm:justify-start">
            <h1
              class="text-2xl font-bold whitespace-nowrap mx-2.5 p-3.5 sm:p-0 sm:py-6"
            >
              Contact
            </h1>
            <img
              src="../assets/Line.svg"
              alt="Line"
              class="hidden sm:block sm:ml-6"
            />
          </div>
          <!-- Card -->
          <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
            <div class="bg-orange-100 p-3.5 rounded-xl py-3.5 pb-16">
              <div class="flex items-center gap-2">
                <img src="../assets/contact-Phone.svg" alt="Phone" class="" />
                <p class="font-bold ml-2">Phone :</p>
              </div>
              <div class="ml-10">
                <p class="font-bold">+62 851-5606-6856</p>
                <p class="font-bold">+62 898-5778-760</p>
              </div>
            </div>

            <div class="bg-slate-100 p-3.5 rounded-xl py-3.5 pb-16">
              <div class="flex items-center gap-2">
                <img src="../assets/email.svg" alt="Email" class="" />
                <p class="font-bold ml-2">Email :</p>
              </div>
              <div class="ml-10">
                <p class="font-bold">alveniofarhan@gmail.com</p>
              </div>
            </div>
          </div>
          <!-- end card -->
          <div class="items-center py-10">
            <p>
              I am always open to discussing
              <span class="font-bold"
                >new projects, opportunities in tech world, partnerships</span
              >
              and more so
              <span class="font-bold"> mentorship</span>
              .
            </p>
          </div>

          <div class=" flex-col justify-center">
            <div class="flex p-4">
              <p>Name :</p>
              <input type="text" class="bg-slate-100 outline-none" />
            </div>
            <hr />
            <div class="flex p-4">
              <p>Email :</p>
              <input type="text" class="bg-slate-100 outline-none" />
            </div>
            <hr />
            <div class="flex p-4">
              <p>Message :</p>
              <input type="text" class="bg-slate-100 outline-none" />
            </div>
            <hr />
          </div>
          <a href="landing_page.html">
            <button
              class="bg-white rounded-2xl mt-6 py-2.5 px-8 hover:text-white hover:bg-[#fdab3f] border-2 border-[#FF9C1A]"
            >
              <p class="font-bold">Submit</p>
            </button>
          </a>
        </div>
        <!-- end Contact card -->
      </div>
    </div>
  </body>
</html>
