<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {},
        },
      };
    </script>
    <style>
      @layer base {
        h1,
        h5,
        li {
          font-family: "Poppins", sans-serif;
        }

        sub,
        p {
          font-family: "Raleway", sans-serif;
        }
      }
    </style>
    <title>Portofolio</title>
  </head>
  <header>
    <div class="flex justify-center gap-2.5 py-3.5 sm:justify-start sm:mx-5">
      <h1 class="text-[#EC1B09] text-2xl font-normal">My</h1>
      <h1 class="text-[#FF9C1A] text-2xl font-normal">Portofolio</h1>
    </div>
  </header>
  <body class="bg-slate-100 lg:mx-20">
    <div class="lg:flex">
      <!-- Profile Card -->
      <div
        class="bg-white rounded-2xl shadow-xl mx-5 flex-col justify-center text-center my-5 sm:mx-44 lg:mx-6 "
      >
        <div class="flex justify-center">
          <img
            src="../assets/foto.jpg"
            alt="Profile Picture"
            class="w-48 h-48 rounded-2xl shadow mt-10"
          />
        </div>

        <h1 class="text-black text-2xl font-bold leading-9 py-2.5">
          Alvenio Farhan Prayogo
        </h1>
        <p class="text-black font-bold text-opacity-50 text-center py-2.5">
          FullStack Developer
        </p>

        <div class="flex justify-center gap-2.5 py-3.5">
          <a href="https://www.facebook.com/alveniofarhan">
            <img
              src="../assets/fb.svg"
              alt="Logo Facebook"
              class="w-16 h-16 px-6 py-5 bg-slate-100 hover:bg-slate-300 rounded-lg justify-center items-center gap-[8.27px] inline-flex"
            />
          </a>
          <a href="https://www.linkedin.com/in/alveniofarhanprayogo">
            <img
              src="../assets/linkedin.svg"
              alt="Logo linkedin"
              class="w-16 h-16 px-5 py-4 bg-slate-100 hover:bg-slate-300 rounded-lg justify-center items-center gap-[8.27px] inline-flex"
          /></a>
          <a href="https://instagram.com/alveniofarhan">
            <img
              src="../assets/ig.svg"
              alt="Logo twitter"
              class="w-16 h-16 px-5 py-5 bg-slate-100 hover:bg-slate-300 rounded-lg justify-center items-center gap-[8.27px] inline-flex"
          /></a>
          <a href="https://github.com/alveniofarhan">
            <img
              src="../assets/git.svg"
              alt="Logo git"
              class="w-16 h-16 px-5 py-4 bg-slate-100 hover:bg-slate-300 rounded-lg justify-center items-center gap-[8.27px] inline-flex"
          /></a>
        </div>

        <div class="py-2.5 sm:py-0 sm:flex sm:justify-center">
          <div
            class="bg-slate-100 rounded-2xl mt-6 mb-12 py-3.5 flex-row justify-center mx-6 sm:mx-2"
          >
            <div class="w-64 h-16 relative ml-9 mt-8 border-b">
              <div class="w-40 h-11 flex justify-start items-center gap-2.5">
                <img src="../assets/phone.svg" alt="Phone" class="w-6 h-6" />
                <div class="flex-row text-left">
                  <h5 class="text-black opacity-50">Phone</h5>
                  <p class="font-bold text-sm">0851-5606-6856</p>
                </div>
              </div>
            </div>

            <div class="w-64 h-16 relative ml-9 my-1.5 border-b">
              <div class="w-40 h-11 flex justify-start items-center gap-2.5">
                <img src="../assets/email.svg" alt="Email" class="w-6 h-6" />
                <div class="flex-row text-left">
                  <h5 class="text-black opacity-50">Email</h5>
                  <p class="font-bold text-sm">alveniofarhan@gmail.com</p>
                </div>
              </div>
            </div>

            <div class="w-64 h-16 relative ml-9 my-1.5 border-b">
              <div class="w-40 h-11 flex justify-start gap-2.5 items-center">
                <img
                  src="../assets/location.svg"
                  alt="Location"
                  class="w-6 h-6"
                />
                <div class="flex-row text-left">
                  <h5 class="text-black opacity-50">Location</h5>
                  <p class="font-bold text-sm whitespace-nowrap">
                    Semarang, Indonesia
                  </p>
                </div>
              </div>
            </div>
            <div class="mt-4">
              <a
                href="https://drive.google.com/file/d/1B8W3ENYJjHAxRZQgoEysmz77WkrVNmOq/view?usp=drive_link"
                class="inline-flex justify-center gap-2.5 py-1.5 px-2 bg-[#FF9C1A] hover:bg-[#c77a15] rounded-full"
              >
                <img src="../assets/download.svg" alt="Download" class="" />
                <p class="text-white">Download Resume</p>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- end profile card -->

      <div class="lg:grid-cols-1">
        <!-- navigation -->
        <nav
          class="bg-slate-100 rounded-2xl shadow-xl mx-5 my-3.5 sm:max-w-md sm:mx-auto lg:mr-5"
        >
          <ol class="gap-8 flex justify-center p-2.5">
            <a
              href="landing_page.html"
              alt="Home"
              class="bg-[#FF9C1A] hover:bg-opacity-70 rounded-2xl flex-col flex items-center p-2.5"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="24"
                viewBox="0 0 25 24"
                fill="none"
              >
                <path
                  d="M12.959 1.6601C12.8259 1.55635 12.662 1.5 12.4932 1.5C12.3245 1.5 12.1606 1.55635 12.0275 1.6601L1.25 10.0639L2.18225 11.2429L3.5 10.2154V19.4996C3.50079 19.8972 3.65908 20.2783 3.94022 20.5594C4.22135 20.8405 4.60242 20.9988 5 20.9996H20C20.3976 20.9988 20.7787 20.8405 21.0598 20.5594C21.3409 20.2783 21.4992 19.8972 21.5 19.4996V10.2221L22.8177 11.2496L23.75 10.0706L12.959 1.6601ZM14 19.4996H11V13.4996H14V19.4996ZM15.5 19.4996V13.4996C15.4996 13.1019 15.3414 12.7206 15.0602 12.4394C14.779 12.1582 14.3977 12 14 11.9996H11C10.6023 12 10.221 12.1582 9.93978 12.4394C9.65856 12.7206 9.5004 13.1019 9.5 13.4996V19.4996H5V9.0461L12.5 3.2036L20 9.0536V19.4996H15.5Z"
                  fill="#F2F7FC"
                />
              </svg>
              <li class="text-white">Home</li>
            </a>

            <a
              href="resume_page.html"
              class="bg-slate-400 hover:bg-[#FF9C1A] rounded-2xl flex-col flex items-center p-2.5"
            >
              <img src="../assets/resume icon.svg" alt="Resume" class="" />
              <li>Resume</li>
            </a>

            <a
              href="contact_page.html"
              class="bg-slate-400 hover:bg-[#FF9C1A] rounded-2xl flex-col flex items-center p-2.5"
            >
              <img src="../assets/contact icon.svg" alt="Contact" class="" />
              <li>Contact</li>
            </a>
          </ol>
        </nav>
        <!-- end navigation -->

        <!-- About Me Card -->
        <div class="bg-white rounded-2xl shadow-md mx-5 my-3.5 px-3">
          <div class="flex items-center justify-center sm:justify-start">
            <h1
              class="text-2xl font-bold whitespace-nowrap mx-2.5 p-6 sm:p-0 sm:py-6"
            >
              ABOUT ME
            </h1>
            <img
              src="../assets/Line.svg"
              alt="Line"
              class="hidden sm:block sm:ml-6"
            />
          </div>
          <div>
            <p class="font-bold mx-2.5 items-center">
              Hello there! I'm thrilled to welcome you to my portfolio. I am a
              passionate and versatile full-stack developer with a keen interest
              in exploring the latest cutting-edge technologies. My journey in
              the world of web development has been nothing short of
              exhilarating, and I constantly strive to enhance my skills and
              embrace emerging trends in the industry.
            </p>
          </div>

          <div class="flex justify-center sm:justify-start">
            <h1
              class="text-xl font-bold whitespace-nowrap mx-2.5 p-6 sm:p-0 sm:py-3.5"
            >
              What I do!
            </h1>
          </div>

          <div
            class="grid grid-cols-1 gap-3.5 py-3.5 sm:grid-cols-2 lg:grid-cols-2"
          >
            <div class="bg-orange-100 rounded-2xl py-2.5">
              <div class="flex justify-start mx-2.5 gap-2">
                <img src="../assets/code icon.svg" alt="Code" />
                <h1 class="font-bold text-xl">Web Developer</h1>
              </div>
              <div class="mx-2.5">
                <p class="items-center">
                  As a developer, I find myself most captivated by the power and
                  flexibility of NEXT.js. I'm always eager to dive into new
                  projects that leverage NEXT.js and discover innovative ways to
                  create fast, scalable, and user-friendly applications.
                </p>
              </div>
            </div>

            <div class="bg-sky-100 rounded-2xl py-2.5">
              <div class="flex justify-start mx-2.5 gap-2">
                <img src="../assets/App.svg" alt="App" />
                <h1 class="font-bold text-xl">App Developer</h1>
              </div>
              <div class="mx-2.5">
                <p class="items-center">
                  With a focus on user-centric design and cutting-edge
                  technologies, I thrive on building intuitive and efficient
                  apps that make a positive impact on people's lives. Let's turn
                  ideas into reality and shape the future together.
                </p>
              </div>
            </div>

            <div class="bg-sky-100 rounded-2xl py-2.5">
              <div class="flex justify-start mx-2.5 gap-2">
                <img src="../assets/ux icon.svg" alt="UI/UX" />
                <h1 class="font-bold text-xl">UI/UX Designing</h1>
              </div>
              <div class="mx-2.5">
                <p class="items-center">
                  Crafting visually appealing and intuitive user interfaces that
                  offer a delightful user experience is something I'm truly
                  fanatic about.
                </p>
              </div>
            </div>

            <div class="bg-orange-100 rounded-2xl py-2.5">
              <div class="flex justify-start mx-2.5 gap-2">
                <img src="../assets/Mentor icon.svg" alt="Mentorship" />
                <h1 class="font-bold text-xl">Mentorship</h1>
              </div>
              <div class="mx-2.5">
                <p class="items-center">
                  I have also found great joy in sharing my knowledge with
                  others. Being a technical mentor allows me to give back to the
                  community that has supported me throughout my career.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- end about me card -->
      </div>
    </div>
  </body>
</html>
